<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Riley's Records</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/templates/static/script.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Oxygen:400|Josefin+Slab:600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body index clearfix">
  <div class="container container-1">
    <div class="home">
      <p>Riley's Records</p>
      <p><br></p>
</div>
    <div class="container">
      <div class="artiststab">&nbsp;artists</div>
      <div class="albumstab">
        <p>&nbsp;albums</p>
        <p><br></p>
</div>
      <div class="genrestab">genres</div>
      <div class="wishlisttab">wishlist</div>
    </div>
  </div>
  <div class="container container-3">
    <div class="albumlist js-albums-menu">
      <p class="text">add new</p>
      <p class="text text-2">newest</p>
      <p class="text text-3">list</p>
    </div>
    <div class="genrelist js-genres-menu">
      <p class="text text-4">alternative</p>
      <p class="text text-5">bluegrass</p>
      <p class="text text-6">blues</p>
      <p class="text text-7">folk</p>
      <p class="text text-8">jazz</p>
      <p class="text text-9">rock</p>
    </div>
    <div class="wishlistlist js-wishlist-menu">
      <p class="text text-10">add new</p>
      <p class="text text-11">view</p>
    </div>
  </div>
  <div class="container container-4 clearfix">
    <div class="element"></div>
    <div class="text text-12">
      <p>2014</p>
      <p>Riley Lundquist</p>
</div>
  </div>
  <div class="element element-2"></div>
</body>
</html>
